doctype html
html
    head
        title #{id} - text.js
        link(rel="stylesheet" href="../style.css")
        script(src="../jquery-1.11.1.min.js")
        script(src="../underscore-min.js")
        script(src="../socket.io/socket.io.js")
        script(src="../client.js")
    body
        header
            span#status(class='offline' title='Offline')
            span  | 
            span <a href="/")>new text</a>
            span  |  
            span share: <a href="/text/#{id}">../text/#{id}</a>
            span  | 
            span(class='small') <a href="http://github.com/fps/text.js">View code on Github</a>
        #uuid #{decodeURIComponent(id)}
        #userid #{user_id)
        #textarea_container
            textarea(id="text" type="text" placeholder="Text goes here... enter or copy your text, then share the link in the addressbar. Updates should show up in every browser that has the same URL open. To get a new session, click (new text) above. Or just use a url of the form /text/yourdesiredsessionname. Note: This version does not implement proper locking. It's on the TODO list. So show some restraint while editing. Simultanous edits WILL interfere. TTL is set to #{ttl}ms and denotes the time the document stays alive after the last client disconnected.")
                |#{text}
